
  
  
  
  .textos {
    color: white;
  }

  .botaoCar{
    
    color: white !important;
    background-color: #00363a !important;
    text-decoration: none !important;
  }
  .text-decoration-none2{
    text-decoration: none;
    margin-top: 5%;
}
 