.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Div-Principal{
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icones { /* Aqui é iniciado a configuração geral dos botões ou icones. */
  position: fixed; /* Aqui é definido o position como fixed que torna o bloco inserido flutuante com orientação na página geral. */
  bottom: 2%; /* Para deixar os botões na parte inferior da página é usado o bottom com um valor pequeno, no caso 2%. */
  left: 81%; /* Para centralizar os botões no meio da página é usado o left com 50%. */ 
  z-index: 10000000; /* O z-index é usado para uma ordenação do estilo, por isso aqui é usado um valor alto, para ficar por cima dos outros. */
}

.tamIcone{
  height: 70px;
  width: 70px;
}

.icones img:hover { /* Aqui é definido o efeito quando o mouse passa por cima da imagem */
  filter: invert(100%);  /* Foi usado o filter: invert para colocar as cores opostas das imagens.  */
}
@media (min-width:1365px ){
.icones{
  left: 95%;
}
}