.text-decorator-none{
    text-decoration: none;
}

.card {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.border-image{
 border-radius: 20px;
}

.imgProduto {
    height: 200px;
    width: 200px;
}

.cardProduto {
    width: 250px;
    height: 540px;
}