.box1 {
    background-color: #006064;
    height: 120px;
}

.box2 {
    background-color: #006064;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: #39796b;
}

.textos {
    color: #39796b;
}
