.text-decorator-none2{
    text-decoration: none;
    color: black !important;
}

.card2{
 color: black;
 width: 400px;
}

.border-image2{
 border-radius: 20px;
}

.imgProduto2{
    height: 200px;
    width: 200px;
}

.cardProduto2{
    width: 250px;
    height: 540px;
}

.fontListaProduto2{
    text-align: justify;
    font-size: 20px !important;
}

.tamanhoBox2{
    height: 30px;
    margin-bottom: 30px;
    display: flex;
}

.principalBox2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
}



