.carrosselSobre{
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.carrosselInnerSobre{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.leftSobre{
    flex:5%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
}

.rightSobre{
    flex:5%;
    height:100%;
    display: grid;
    place-items: center;
    color: white;
}

.centerSobre{
    flex:80%;
    height: 100%;
    display: grid;
    place-items: center;
    
}
