.imagem{
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decoration-none{
    text-decoration: none;
}

.textosSobre{
    
    color: #00363a !important;
    font-weight: bold !important;
}

.teste{
    background:#00363a;
}

