.imagem2{
    background-image: url(https://i.imgur.com/xFvpWBr.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    color: #006064;
}

.btnCancelar{
    margin-right: 20px !important;
   background-color: #00363a;
}