.text-decorator-none2{
    text-decoration: none;
    color: black !important;
}

.card2{
 color: black;
 width: 400px;
}

.border-image2{
 border-radius: 20px;
}

.imgProduto2{
    height: 200px;
    width: 200px;
}

.cardProduto2{
    width: 250px;
    height: 540px;
}

.fontListaProduto2{
    text-align: justify;
    font-size: 20px !important;
}



